header {
  display: flex;
  padding: 15px 0px 0px 15px;
}

h1 {
  font-size: 60px;
  color: white;
  padding-right: 500px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 23px;
  border-radius: 1px 0 3px 4px;
  padding: 25px 15px 15px 25px;
}

nav a {
  color: white;
  font-size: 19px;
  border-radius: 1px 0 3px 4px;
  padding: 0 15px 0 15px;
}

a:after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
nav a:hover:after {
  width: 100%;
  left: 0;
}

a:link {
  text-decoration: none;
}

.AboutMe {
  display: flex;
  margin-top: 35px;
  flex-direction: column;
  align-items: center;
}

.AboutMe p {
}

.AboutMe img {
  display: flex;
  justify-content: center;
  height: 250px;
  width: 250px;
  margin-left: 38%;
  margin-right: 38%;
}

#projects div {
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 25px;
}

.project {
  width: 700px;
  height: 500px;
  border-radius: 25px;
}

.avatar {
  border-radius: 300px;
  background-color: white;
}

#grayscale {
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
}
#grayscale:hover {
  filter: grayscale(0);
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
  content: "";
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.repoLinks {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px 25px 0;
}

.repoLinks:after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.repoLinks:hover:after {
  width: 100%;
  left: 0;
}

.aboutMeText {
  font-family: "Helvetica Neue", Helvetica, Arial;
  inline-size: 750px;
  font-size: 24px;
  color: white;
  margin: 50px 25px 0px 0px;
  padding: 25px 25px 25px 25px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  nav {
    font-size: 14px;
  }

  nav a {
    font-size: 14px;
  }

  .AboutMe p {
    margin: 15px;
  }

  .AboutMe img {
    margin-left: 10%;
    margin-right: 10%;
  }

  #projects h2 {
    width: 300px;
    height: 250px;
    font-size: 20px;
  }

  .repoLinks {
    padding-right: 0;
  }
}
